.header {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.header__sub {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__sub__icon {
  font-size: 22px;
  border-radius: 50%;
  padding: 8px;
  margin: 2px;
  transition: 0.3s ease;
  cursor: pointer;
}

.header__sub__icon:hover {
  background-color: #dfdfdf;
}

.header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  cursor: pointer;
}

.header__icon img {
  width: 40px;
  margin: 2px;
}

.header__icon span {
  font-size: 22px;
  margin-right: 5px;
}

.header__sub__search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 6px;
}

.header__search input {
  padding: 8px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  border: 1px solid #dfdfdf;
  width: 100%;
  height: 22px;
}

.header__search button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dfdfdf;
  width: 80px;
  height: 39.5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
  cursor: pointer;
}

.header__mic__icon {
  font-size: 22px;
  background-color: #dfdfdf;
  border-radius: 50%;
  padding: 9px;
  margin: 4px;
  transition: 0.3s ease;
  cursor: pointer;
}

.header__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 4px;
  margin-left: 16px;
  cursor: pointer;
}
