@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --text-color: #000000;
  --text-blue-color: #3b87eb;
  --button-color: #1a73e8;
  --button-hover-color: #1b66c9;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* Input Styling for Input Type Number (for removing arrows (Increment & Decrement)) */
/* For modern browsers */
input[type="number"] {
  appearance: textfield;
}

/* For Firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Internet Explorer */
input[type="number"]::-ms-inner-spin-button,
input[type="number"]::-ms-outer-spin-button {
  -ms-appearance: none;
  margin: 0;
}
